<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epreuve vue.js</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top justify-content-between">
        <span class="navbar-brand mb-0 h1">Epreuve vue.js</span>
    </nav>
    <main class="container mt-5" id="app">
        <!-- Question 3 -->
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8">
                <div class="bg-dark text-white p-5 rounded">
                    <h1 class="display-4 mb-3">{{ formTitle }}</h1>
                    <form @submit.prevent="sendUserInfos()">
                        <div class="form-group">
                            <label for="userEmail">Email</label>
                            <input type="email" class="form-control" id="userEmail" placeholder="Saisissez un email" v-model="email">
                            <!-- <p>{{ email }}</p> -->
                        </div>
                        <div class="form-group">
                            <label for="userPwd">Mot de passe</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Saisissez votre mot de passe" id="userPwd" v-model="password">
                                <!-- <p>{{ password }}</p> -->
                                <div class="input-group-append">
                                    <button class="input-group-text" id="togglePwdView" @click="togglePwdView()"><i class="fa fa-eye-slash"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Je m'inscris</button>
                    </form>
                </div>
            </div>
            <div class="col-4">
                <p class="h2">Bonnes pratiques</p>
                <p>Choisissez un mot de passe qui répond au critères suivants :</p>
                <!-- Liste des bonnes pratiques : 'Au moins 8 caractères', 'Au moins 1 caractère minuscule', 'Au moins 1 chiffre', 'Au moins 1 caractère spécial' -->
                <ul>
                    <li>{{ characterMin }}</li>
                    <li>{{ minusculeChar }}</li>
                    <li>{{ specialChar }}</li>
                    <li>{{ chiffre }}</li>
                </ul>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/vue-scripts.js"></script>
</body>

</html>